.about-us-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.about-us-wrapper__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 205px;
}

.about-us-wrapper__container img {
  height: 30%;
  width: 20%;
  margin: 20px;
}

.about-us-paragraph {
  display: flex;
  width: 50%;
  padding: 20px;
  background-color: var(--dark1);
  color: var(--accent1);
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px var(--primary);
}