:root {
    --dark: #0b090aff;
    --dark1: #161a1dff;
    --primary: #660708ff;
    --primary1: #a4161aff;
    --primary2: #ba181bff;
    --primary3: #e5383bff;
    --accent: #b1a7a6ff;
    --accent1: #d3d3d3ff;
    --accent2: #f5f3f4ff;
    --accent3: #ffffffff;
}

body {
    background-color: var(--primary1);
    margin: 0px;
}

.nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: var(--dark);
    margin: 0px;
}

.nav-wrapper__left {
    color: var(--accent2);
    margin-left: 20px;
}

.nav-wrapper__left a {
    text-decoration: none;
    color: var(--accent2);
    font-size: 1.5em;
    letter-spacing: 6px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-wrapper__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nunito', sans-serif;      
}

.nav-wrapper__right a {
    text-decoration: none;
    color: var(--accent2);
}

.nav-link--big {
    font-size: 1.25em;
}
