{% extends 'base.html' %} 

{% block title %}Contact us{% endblock %} 

{% block content %}

<div class="about-us-wrapper">
  <div class="about-us-wrapper__container">
    <img src="../static/images/MakingList.jpg" alt="Image" />
    <div class="about-us-paragraph">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. In deleniti
        distinctio repudiandae alias sapiente nemo consectetur corrupti,
        exercitationem omnis amet optio, laborum temporibus aut rem. Libero,
        earum corporis. Nihil optio quas labore ex similique dolorum, sint
        excepturi aliquam, at quis eaque nisi unde ratione nobis? Architecto
        labore cum ullam id neque ut eaque eum saepe vel ex earum porro aut
        rerum, cupiditate voluptas repudiandae numquam laboriosam molestiae? In
        deserunt aliquid quidem quas ad ut, praesentium id, rerum inventore
        tempore deleniti ipsum fugiat quia impedit doloremque illum nihil harum
        voluptatum architecto rem libero!
      </p>
    </div>
  </div>
</div>

{% endblock %}
