<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"> -->
    <link rel="stylesheet" href="../static/styles/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="nav-wrapper__left">
                <h1>Listful</h1>
            </div>
            <div class="nav-wrapper__right">
                <a href="" class="nav-link">Wishlist</a>
                <a href="" class="nav-link">Shopping Lists</a>
                <a href="" class="nav-link">About Us</a>
                <a href="" class="nav-link">Contact Us</a>
                <a href="" class="nav-link--big">Account</a>
            </div>
        </div>

        <!-- {% block content %}  {% endblock %} -->

    </div>
</body>
</html>