<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Ubuntu:ital,wght@1,700&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <div class="nav-wrapper">
        <div class="nav-wrapper__left">
          <a href="/">Listful</a>
        </div>
        <div class="nav-wrapper__right">
          <a href="" class="nav-link">Wishlist</a>
          <a href="" class="nav-link">Shopping Lists</a>
          <a href="" class="nav-link">About Us</a>
          <a href="/contact_us" class="nav-link">Contact Us</a>
          <a href="" class="nav-link--big">Account</a>
        </div>
      </div>

      {% block content %}{% endblock %}
      
      <div class="footer-wrapper">
        <div class="footer-logo">
          <p>Listful</p>
        </div>
        <div class="footer-links">
          <a href="">Wishlist</a>
          <a href="">Shopping Lists</a>
          <a href="">About Us</a>
          <a href="">Contact Us</a>
          <a href="">Account</a>
        </div>
      </div>
    </div>
  </body>
</html>
