{% extends 'base.html' %}
{% block title %}Contact us{% endblock %} 

{% block content %}

  <div class="contact-us-container">
    <div class="contact-us-comtainer__left">
      <div>
        <img src="../static/images/MakingList.jpg" alt="list photo">
      </div>
      <div class="contact-info-wrapper">
        <div class="contact-info">
          <p>Email: </p>
          <p>JanCohort@stressedout.com</p>
        </div>
        <div class="contact-info">
          <p>Phone: </p>
          <p>951-951-9519</p>
        </div>
        <div class="contact-info">
          <p>Address: </p>
          <p>123 stressedascanbe St.
            Layton Ut, 84041 </p>
        </div>
      </div>
    </div>
    <div></div>
  </div>

{% endblock %}