{% extends 'base.html' %}

{% block title %}Homepage{% endblock %} 

{% block content %}

  <div class="index-container">
    <div class="index-container__left">
      <div class="button-wrapper">
        <div class="button-wrapper__list">
          <form action="/create-list">
            <button type="submit">Create New List</button>
          </form>
          <form action="/wish-list">
            <button type="submit">Wishlist</button>
          </form>
        </div>
      </div>
      <div class="all-list-wrapper">
        <h1>ALL LISTS</h1>
      </div>
    </div>
    <div class="index-container__right">
      <div class="personalized-boxes">
        <div class="shopping-tips">
          <h1>SHOPPING TIPS</h1>
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <li>Sequi dolorum maiores perferendis beatae quae?</li>
            <li>Voluptatum facere architecto soluta accusamus quo.</li>
            <li>Rem doloribus iusto velit facere saepe!</li>
          </ul>
        </div>
        <div class="recipes">
          <h1>RECIPES</h1>
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, modi?</li>
            <li>Ducimus voluptatibus repellendus quisquam dolores, voluptas corrupti? Animi, est nesciunt?</li>
            <li>A earum voluptatum, fugit totam omnis culpa quae saepe repudiandae.</li>
            <li>Suscipit debitis aliquid non rerum quod officia odio laboriosam vel?</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}