<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"> -->
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Ubuntu:ital,wght@1,700&display=swap" rel="stylesheet">
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="nav-wrapper__left">
                <a href="./index.html">Listful</a>
            </div>
            <div class="nav-wrapper__right">
                <a href="#" class="nav-link">Wishlist</a>
                <a href="#" class="nav-link">Shopping Lists</a>
                <a href="#" class="nav-link">About Us</a>
                <a href="#" class="nav-link">Contact Us</a>
                <a href="#" class="nav-link--big">Account</a>
            </div>
        </div>
    </div>


    <div class="content-wrapper">
        <div class="content-wrapper__left">
            <img src="../static/images/MakingList.jpg" alt="list photo">
        </div>
        <div class="content-wrapper__right">
            <div class="site-description">
                <p>Welcome! We are so excited that you have joined
                    our journey. Here we will help you attain and 
                    maintain a clean organized pantry with the amazing 
                    Listful App.
                </p>
            </div>
            <div class="money-tips">
                <p>
                    Lorem ipsum dolor sit ametconsectetur adipisicing elit. 
                     Autem fugit doloribus repellendus, fuga fugiat 
                     ullam vero, nobis est placeat corporis culpa 
                     exercitationem, error eaque ex sit. Aliquam.
                </p>
            </div>
        </div>
    </div>





</body>