{% extends 'base.html' %} 

{% block title %}Landing-page{% endblock %} 

{% block content %}
<div class="content-wrapper">
  <div class="content-wrapper__left">
    <img src="../static/images/MakingList.jpg" alt="list photo" />
  </div>
  <div class="content-wrapper__right">
    <div class="site-description">
      <p>
        Welcome! We are so excited that you have joined our journey. Here we
        will help you attain and maintain a clean organized pantry with the
        amazing Listful App.
      </p>
    </div>
    <div class="money-tips">
      <p>
        Lorem ipsum dolor sit ametconsectetur adipisicing elit. Autem fugit
        doloribus repellendus, fuga fugiat ullam vero, nobis est placeat
        corporis culpa exercitationem, error eaque ex sit. Aliquam.
      </p>
    </div>
  </div>
</div>
{% endblock %}
